.DivCard {
    background-color: #F9F54B;
    align-self: center;
    width:fit-content;
    margin: auto;
    border-radius: 5px;
    padding: 1em;
    border: 2px solid black;
    align-self: center;
    justify-self: center;
    margin: 10px;
    transition: all .2s ease-in-out; 
     
}
.DivCard:hover {
    transform: scale(1.1);
}

.title {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
    text-decoration: none;
}

.subtitle {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10px;
    color: white;
}

.CardImg {
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
}



.Boton {
    background-color: #F94A29;
    border: solid 1px black;
    border-radius: 50%;
    padding: 8px;
    width: 10px;
    height: 10px;
    
}


.favButton {
    text-decoration: none;
    border: none;
    background-color: transparent;
    padding: 8px;
    
}

.favButton:hover {
    cursor: pointer;
}


.Boton:hover {
    color:antiquewhite;
    background-color: grey;
    cursor: pointer;
}

@media (max-width: 900px){
    .DivCard{
        margin-top: 15px;
        }
    }